header {

    padding: 20px 0;
    background: url(https://wallpapercave.com/wp/wp4241412.png);
    background-size: 100%;
    background-position-y: center;

}

.cabecalho {

    display: flex;
    position: relative;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}
.cabecalho_logo {
    margin-left: 5vmax;
}

.cabecalho_navegacao {

    display: flex;
    margin-right: 5vmax;

}

.cabecalho_link {

    display: inline;
    margin-left: 15px;

}

nav a {

    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    transition: 0.2s;
    
    font-family:  "Raleway", sans-serif;

}

nav a:hover {

    color: rgb(4, 189, 81);
    font-size: 2.5em;

}